[Desktop Entry]
Version=1.0
Type=Application
Name=Run GUI
Comment=Launch the GUI
Exec=/home/HAB/SP25-20/RaspberryPi/launchgui.sh
Icon=python3
Terminal=false
Categories=Utility;

